/*  *, *:before, *:after{
 border: 1px solid red;
 box-sizing: border-box;
} */

h1, p, a, td{
  color: #fff;
  font-family: 'Oswald', sans-serif;
}
form{
  width: 50%;
}
iframe{
  width: 100%;
}
.brand{
  width: 50%;
  margin-bottom: 1%;
}
.logo, .instructions{
  margin-left: 2%;
}
.emotions{
  margin-top: 1%;
  width: 100%;
}
.img-circle{
  border: 2px solid #fff;
  width: 17%;
  height: 50%;
  margin: 1%;
}
.img-circle:hover{
  border: 2px solid purple;
}
.panel{
  width: 45%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  right: 0;
  overflow: scroll;
}

body{
  background: url('../img/yeezus.jpg') no-repeat;
  background-size: cover;
}
